@model IEnumerable<BikeStore.Models.Bikes>
@{
    //  ViewBag.Title = "Admin";
    Layout = "/Views/MasterView.cshtml";

}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<body class="page">
    <div class="bg_navigation">
        <div class="navigation_wrapper">
            <div id="navigation">
                <span>Home</span>
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Главная</a></li>
                    <li class="current"><a href="#">Страница админа</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--BEGIN CONTENT-->
    <div id="content">

       

        <div class="content">
            <div class="main_catalog">
                <ul class="catalog_table">

                    @foreach (var item in Model)
                    {
                        <li>
               
                            <a href="@Url.Action("Edit","Admin", new {bikeName=item.Id})" class="thumb"><img src="@item.Image" alt="" wight="700" height="100" /></a>
                            <div class="catalog_desc">
                                <div class="title_box">
                                    <h4><a href="@Url.Action("Edit","Admin", new {bikeName=item.Id})">@item.Name</a></h4>
                                </div>
                                <div class="clear"></div>
                                <div class="grey_area">
                                    <span>@item.Firm</span>
                                </div>
                            </div>

                            <div class="text-right">
                             
                                @using (Html.BeginForm("Delete","Admin"))
                                {
                                  
                                    @Html.Hidden("bikeid", item.Id)
                                    <input type="submit" class="btn btn-default btn-xs" value="Удалить" />
                                }

                                    <a href="@Url.Action("Edit","Admin", new {bikeName=item.Id})"><input type="submit" class="btn btn-default btn-xs" value="Редактировать" /></a>
                                   
                            </div>

                        </li>
                    }
                   
                </ul>
            </div>
            <div id="login_form">
                <form method="get" action="@Url.Action("Add","Admin")">
                    <input type="submit" value="Добавить" class="btn_login" />
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <!--EOF CONTENT-->

</body>
</html>

